body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  color: #0a0a0a;
  font-size: 14px;
  margin: 0;
  font-family: 'Gotham Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: lightskyblue;
  height: 70px;
}

.app-layout {
  width: 400px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  border: 1px dotted darkgray;
}

.app-title {
  text-align: center;
  color: #282828;
  font: 22px/28px 'Gotham Pro', sans-serif;
  font-weight: 500;
  flex: 1;
}

.logout-btn {
  position: relative;
  padding: 0 18px;
  margin-right: 18px;
  height: 36px;
}
