/* ##### GENERAL ##### */
*,
*:before,
*:after {
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 1px;
  padding: 0;
  margin: 0;
  min-height: 100%;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #fff;
  color: #0a0a0a;
  font-size: 14px;
  margin: 0;
  font-family: 'Gotham Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body,
#root {
  min-width: 320px;
  width: 100%;
}

a,
a:active,
a:hover,
a:focus {
  color: #0a0a0a;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.DayPicker-wrapper {
  padding-bottom: 7px !important;
}

.DayPicker-Month {
  margin: 0 15px !important;
  margin-top: 12px !important;
}

.DayPicker-NavButton {
  top: 12px !important;
}

.app-layout {
  min-width: 320px;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-header {
  width: 100%;
  /* background-color: #9ed9e1; */
  flex: 0 0 70px;
}

.app-header-content {
  height: 100%;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #9ed9e1; */
}

.header-user-data {
  width: 100px;
  margin-left: 18px;
  text-align: center;
  font-weight: 500;
}

.logout-btn,
.login-link,
.login-submit-btn,
.signup-submit-btn,
.event-submit-btn,
.update-submit-btn {
  position: relative;
  padding: 0 18px;
  margin-right: 18px;
  height: 36px;
  line-height: 38px;
  background-color: #fdd805;
  font-weight: 500;
  font-family: 'Gotham Pro', sans-serif;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1px;
  cursor: pointer;
}

.logout-btn,
.logout-btn:active,
.logout-btn:hover,
.logout-btn:focus,
.login-link,
.login-link:active,
.login-link:hover,
.login-link:focus {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #b61018;
  height: auto;
  background-color: transparent;
  box-shadow: none;
}

.login-link,
.login-link:active,
.login-link:hover,
.login-link:focus {
  margin-right: 25px;
}

.app-user-links {
  margin-right: 25px;
  height: 30px;
  text-align: left;
}

.login-submit-btn,
.signup-submit-btn {
  margin: 25px 0 0;
  width: 100%;
}

.app-header .app-user-logo {
  margin-right: 15px;
  width: 36px;
  height: 36px;
  background: transparent url('/images/user.png') center center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.login-screen,
.signup-screen {
  position: relative;
  flex: 1;
  width: 100%;
}

.login-screen-inner,
.signup-screen-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.login-screen-content,
.signup-screen-content {
  width: 100%;
  min-height: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch-auth {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}

.switch-auth a,
.switch-auth a:active,
.switch-auth a:hover,
.switch-auth a:focus {
  color: #b61018;
  margin: 2px auto 0;
}

.login-screen form,
.signup-screen form {
  width: 300px;
  padding: 25px;
  /* background-color: #9ed9e1; */
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}

.login-screen form label,
.signup-screen form label {
  display: inline-block;
  margin-bottom: 7px;
  font-weight: 500;
  /*color: #fff;*/
}

.login-screen form .password-label,
.signup-screen form .password-label {
  margin-top: 15px;
}

.login-screen form input,
.signup-screen form input {
  width: 100%;
  padding: 5px;
  outline: 0;
  border: 1px solid #d7d8db;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.events-user-data {
  text-align: center;
  width: 100%;
  font-weight: 500;
}

.events-list-data {
  position: relative;
  width: 100%;
  flex: 1;
}

.events-list-data-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.event-list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 7px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-top: 1px solid #d7d8db;
  /*box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.75);*/
}

.event-list-item > div {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.event-list-item > div > :first-child {
  margin-bottom: 2px;
}

.event-list-item > div > :last-child {
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
}

.event-list-item > div > .event-numeric {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.event-list-item:hover {
  background: #ddecff;
}

.view-heading {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.events-list-calendar {
  padding-top: 15px;
}

.rlc-calendar {
  width: 284px !important;
  border: 0 !important;
  margin: 0 auto !important;
}

.rlc-details {
  display: none !important;
}

.app-footer {
  flex: 0 0 80px;
  /* background-color: #9ed9e1; */
}

.app-footer-content {
  width: 100%;
  height: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
}

.app-footer-content > * {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.75);
}

.app-footer .link-add-event {
  background: #5f5560 url('/images/1.jpg') center center no-repeat;
  background-size: 100px auto;
}

.app-footer .link-calendar {
  background: #9ed9e1 url('/images/2.jpg') center center no-repeat;
  background-size: 90px auto;
}

.app-footer .link-statistics {
  background: #fdfdfe url('/images/3.jpg') center center no-repeat;
  background-size: 75px auto;
}

.range-label {
  width: 100%;
  /*border-radius: 13px;*/
  background-color: red;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  padding: 5px 15px;
}

.add-event-view {
  position: relative;
  flex: 1;
}

.add-event-view-inner {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.75);
}

.add-event-form {
  position: relative;
}

.add-event-form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add-event-form form,
.user-update-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  padding: 15px 25px 25px;
  /* background-color: #9ed9e1; */
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}

.add-event-form form label {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.add-event-form form input,
.user-update-box form input {
  width: 100%;
  padding: 5px;
  outline: 0;
  border: 1px solid #d7d8db;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.add-event-form .event-submit-btn,
.user-update-box form .update-submit-btn {
  margin: 25px 0 0;
  width: 100%;
}

.add-event-form form select {
  padding: 4px;
  margin: 0;
  border-radius: 0;
  border: 1px solid #d7d8db;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

.events-list-screen {
  position: relative;
  flex: 1;
}

.events-list-screen-inner {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.75);
}

.event-form-result,
.user-update-result {
  text-align: center;
  font-size: 16px;
  color: red;
  font-weight: 500;
  margin-bottom: 20px;
}

.update-view {
  flex: 1;
  position: relative;
}

.update-view-inner {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.75);
}

.user-image-box {
  flex: 0 0 220px;
  width: 220px;
  background: transparent url('/images/user-big.png') center center no-repeat;
  background-size: contain;
  margin-bottom: 25px;
}

.event-detail {
  position: relative;
  width: 100%;
  flex: 1;
}

.event-detail-inner {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.75);
}

.event-detail-inner > div {
  width: 50%;
  height: 150px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 25px;
  box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.75);
}

.event-detail-inner > div:last-child {
  width: 100%;
}

.event-detail-date {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 10px;
}

.event-detail-date .delete-img-box {
  margin-right: 4px;
}

.event-detail-date .delete-img-box img {
  height: 36px;
}

.event-detail-date .back-img-box {
  margin-left: 3px;
}

.event-detail-date .back-img-box img {
  width: 38px;
}

.event-detail-date span {
  flex: 1;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 28px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.events-list-heading {
  padding-top: 15px;
}

.events-list-heading span {
  flex: 1;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 28px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.event-detail-inner > div > :first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.event-detail-inner > div > :last-child {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.statistics-view {
  position: relative;
  flex: 1;
}

.statistics-view-inner {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.75);
}

.statistics-period-form {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 8px 5px 12px;
  background: #fdd805;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.statistics-period-form label {
  display: block;
  margin-bottom: 3px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.statistics-period-form label input {
  position: relative;
  top: 1px;
  right: 3px;
}

.statistics-heading,
.statistics-period {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.statistics-period {
  margin: 5px 0;
  font-size: 16px;
  line-height: 16px;
}

.statistics-data {
  flex: 1 1 auto;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 25px;
}

.statistics-data > div {
  flex: 1 1 25%;
  border-left: 1px solid #d7d8db;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.statistics-data > div:first-child {
  border-left: none;
}

.statistics-data > div > .statistics-description {
  position: relative;
  flex: 0 0 125px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b61018;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/*.statistics-data > div > .statistics-description:after {*/
/*content: "";*/
/*display: block;*/
/*position: absolute;*/
/*background: transparent url("/images/arrow.png") center center no-repeat;*/
/*background-size: contain;*/
/*width: 30px;*/
/*height: 76px;*/
/*bottom: 0;*/
/*left: 2px;*/
/*transform: rotate(-20deg);*/
/*}*/

.statistics-data > div > .statistics-image {
  flex: 0 1 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics-data > div > .statistics-numeric {
  flex: 0 1 55px;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 27px;
  line-height: 27px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.statistics-data > div > :last-child {
  margin-top: 10px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.statistics-item {
  position: relative;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.75);
}

.start-view {
  position: relative;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-view-inner {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.75);
}

.start {
  flex: 0 0 auto;
}

.start-logo {
  flex: 0 0 auto;
  margin-top: 12px;
  max-width: 260px;
}

.start-text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
  max-width: 320px;
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.header-logo {
  flex: 1;
  z-index: 10;
  position: relative;
  height: 50px;
  background: transparent url(/images/header-logo1.png) center center no-repeat;
  background-size: 200px auto;
  margin-left: 72px;
}
